<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="@Url.Action("Index", "Admin")" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hotel me-2"></i> HMS</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <div class="ms-3">
                    <h6 class="mb-0">Hi, @User.Identity.Name</h6>
                </div>

            </div>

        </div>
        <div class="navbar-nav w-100">

            <a href="@Url.Action("GetRooms", "Room")" class="nav-item nav-link"><i class="fa fa-door-closed me-2"></i>Rooms</a>
            <a href="@Url.Action("Bookings", "Booking")" class="nav-item nav-link"><i class="fa fa-calendar-alt me-2"></i>Bookings</a>
            <a href="@Url.Action("Products", "Product")" class="nav-item nav-link"> <i class="fa fa-utensils me-2"></i>Products</a>
            <a href="@Url.Action("Orders", "Order")" class="nav-item nav-link"><i class="fa fa-shopping-cart me-2"></i>Orders</a>
            <a href="@Url.Action("Reviews", "CustomerReview")" class="nav-item nav-link"><i class="fa fa-comments me-2"></i>Reviews</a>
            <a href="@Url.Action("InitiatePaymentForm", "Payment")" class="nav-item nav-link"><i class="fa fa-money-bill-wave me-2"></i>Paystack</a>



            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Users", "User")" class="nav-item nav-link"><i class="fa fa-user me-2"></i>Users</a>
                <a href="@Url.Action("CustomerStatus", "CustomerStatus")" class="nav-item nav-link"><i class="fa fa-check-circle me-2"></i>Status</a>
                <a href="@Url.Action("Amenities", "Amenity")" class="nav-item nav-link"><i class="fa fa-star me-2"></i>Amenities</a>
                <a href="@Url.Action("Customers", "Customer")" class="nav-item nav-link"><i class="fa fa-user me-2"></i>Customers</a>
                <a href="@Url.Action("Rooms", "Room")" class="nav-item nav-link"><i class="fa fa-list me-2"></i>All Rooms</a>
            }
        </div>
    </nav>
</div>
<!-- Sidebar End -->
