@model IEnumerable<HotelManagementSystem.Dto.UserDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "User";
}

<h1>User Index</h1>

<p>
    <a asp-action="Create" asp-controller="User">Create User</a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>User Name</th>
                <th>DateOfBirth</th>
                <th>Gender</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                    <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                    <td>
                        <a asp-action="EditUser" asp-route-id="@item.UserId">Edit</a> |
                        <a asp-action="DeleteUser" asp-route-id="@item.UserId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No users available</h3>
}
