@model IEnumerable<HotelManagementSystem.Dto.UserDto>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "User";
}

<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <a href="@Url.Action("CreateUser","User")" class="mb-0">Create User</a>
        </div>
        @if (Model != null && Model.Any())
        {
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col"><input class="form-check-input" type="checkbox"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Date Of Birth</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>@item.Name</td>
                                <td>@item.Address</td>
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.UserName</td>
                                <td>@item.DateOfBirth</td>
                                <td>@item.Gender</td>
                                <td>
                                    <a asp-action="EditUser" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a> |
                                    <a asp-action="GetUserById" asp-route-id="@item.Id">ViewDetails</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h3>No users available</h3>
        }
    </div>
</div>
<!-- Recent Sales End -->

