@model IEnumerable<HotelManagementSystem.Dto.OrderDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Order";
}

<h1>order Index</h1>

<p>
    <a asp-action="Create" asp-controller="Order">Create Order</a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                
                <th>Product</th>
                <th>OrderDate</th>
                <th>TotalAmount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>@Html.DisplayFor(modelItem => item.Product)</td>
                    <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                    <td>
                        <a asp-action="EditOrder" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteOrder" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No Order available</h3>
}
