@model IEnumerable<HotelManagementSystem.Dto.ProductDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Product";
}

<h1>Product Index</h1>

<p>
    <a asp-action="Create" asp-controller="Product">Create Product </a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Items
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Items)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="EditProduct" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteProduct" asp-route-id="@item.Id">Delete</a>
                        @*
                <form asp-action="DeleteRoom" asp-route-id="@item.Id">
                <button type="submit" class="btn btn-danger">Delete</button>
                </form> *@

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No Product available</h3>
}