
@model IEnumerable<HotelManagementSystem.Dto.BookingDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Bookings";
}

<h1>Booking Index</h1>

<p>
    <a asp-action="Create" asp-controller="Booking">Create </a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Status</th>
                <th>TotalCost</th>
                <th>Rooms</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalCost)</td>
                    <td>
                        @foreach (var room in item.Rooms)
                        {
                            <p>@room.RoomName</p>
                        }
                    </td>
                    <td>
                        <a asp-action="EditBooking" asp-route-id="@item.Id">Edit</a> |
                        <a  asp-action="DeleteBooking" asp-route-id="@item.Id">Delete</a>

                           @*  <button type="submit" class="btn btn-sm btn-danger">Delete</button> *@
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No bookings available</h3>
}
