@model IEnumerable<HotelManagementSystem.Dto.CustomerDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Customer";
}

<h1>Customer Index</h1>

<p>
    <a asp-action="Create" asp-controller="Customer">Create Customer </a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    PhoneNumber
                </th>
                <th>
                    Gender
                </th>
                <th>
                    UserName
                </th>
                <th>
                    Address
                </th>
                <th>
                    Email
                </th>
                <th>
                    Age
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        <a asp-action="EditCustomer" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteCustomer" asp-route-id="@item.Id">Delete</a>
                        @*
                <form asp-action="DeleteRoom" asp-route-id="@item.Id">
                <button type="submit" class="btn btn-danger">Delete</button>
                </form> *@

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No Customer available</h3>
}