@model HotelManagementSystem.Dto.RoomDto

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "room Details";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <h3>Room Details</h3>
        <div class="table-responsive">
            @if (Model != null)
            {
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <tbody>
                        <tr>
                            <th scope="row">RoomName</th>
                            <td>@Model.RoomName</td>
                        </tr>
                        <tr>
                            <th scope="row">RoomNumber</th>
                            <td>@Model.RoomNumber</td>
                        </tr>
                        <tr>
                            <th scope="row">RoomType</th>
                            <td>@Model.RoomType</td>
                        </tr>
                        <tr>
                            <th scope="row">Room Status</th>
                            <td>@Model.RoomStatus</td>
                        </tr>
                        <tr>
                            <th scope="row">RoomPrice</th>
                            <td>@Model.RoomRate</td>
                        </tr>
                        <tr>
                            <th scope="row">Amenity</th>
                            <td>@Model.AmenityName</td>
                        </tr>
                        <tr>
                            <th scope="row">Availability</th>
                            <td>@Model.Availability</td>
                        </tr>
                        <tr>
                            <th scope="row">Maximum occupancy</th>
                            <td>@Model.MaxOccupancy</td>
                        </tr>
                        <tr>
                            <th scope="row">RoomBedType</th>
                            <td>@Model.BedType</td>
                        </tr>

                    </tbody>
                </table>
            }
            else
            {
                <p>Room details are not available.</p>
            }
            <a href="@Url.Action("Rooms", "Room")" class="btn btn-primary mt-3">Back to List</a>
        </div>
    </div>
</div>








