@model HotelManagementSystem.Dto.RoomDto

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "room Details";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <h2>Room Details</h2>
        @if (Model != null)
        {
            <dl class="row">
                <dt class="col-sm-3">RoomName</dt>
                <dd class="col-sm-9">@Model.RoomName</dd>

                <dt class="col-sm-3">RoomNumber</dt>
                <dd class="col-sm-9">@Model.RoomNumber</dd>

                <dt class="col-sm-3">RoomType</dt>
                <dd class="col-sm-9">@Model.RoomType</dd>

                <dt class="col-sm-3">Room Status </dt>
                <dd class="col-sm-9">@Model.RoomStatus</dd>

                <dt class="col-sm-3">Amenity</dt>
                <dd class="col-sm-9">@Model.Amenities</dd>

                <dt class="col-sm-3">Availability</dt>
                <dd class="col-sm-9">@Model.Availability</dd>

                <dt class="col-sm-3">Bed type</dt>
                <dd class="col-sm-9">@Model.BedType</dd>

                <dt class="col-sm-3">Maximum Occupancy type</dt>
                <dd class="col-sm-9">@Model.MaxOccupancy</dd>

                <dt class="col-sm-3">Room Rate</dt>
                <dd class="col-sm-9">@Model.RoomRate</dd>


            </dl>
        }
        else
        {
            <p>room details are not available.</p>
        }
        <a href="@Url.Action("Rooms", "Room")" class="btn btn-primary">Back to List</a>
    </div>
</div>


