@using HotelManagementSystem.Dto
@using HotelManagementSystem.Dto.RequestModel
@model IEnumerable<RoomDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Rooms";
}

<h1>Room Index</h1>

<p>
    <a asp-action="Create" asp-controller="Room">Create </a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    RoomName
                </th>
                <th>
                    RoomNumber
                </th>
                <th>
                   RoomType
                </th>
                <th>
                   BedType
                </th>
                <th>
                    MaxOccupancy
                </th>
                <th>
                    RoomRate
                </th>
                <th>
                    RoomStatus
                </th>
                <th>
                    Availability
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BedType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxOccupancy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Availability)
                    </td>
                    <td>
                        <a asp-action="EditRoom" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteRoom" asp-route-id="@item.Id">Delete</a>
@* 
                        <form asp-action="DeleteRoom" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form> *@

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No rooms available</h3>
}